.editor{
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.output {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e1e1e;
  padding: 10px;
  color: white;
}

.output h3 {
  margin: 0 0 10px;
  font-size: 16px;
  color: white;
}

.console {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2e2e2e;
  padding: 20px;
  font-size: medium;
}

.console div {
  margin-bottom: 10px;
}

.console p {
  margin: 0;
}

.console strong {
  color: #9cdcfe;
}

.console a {
  color: #4ec9b0;
  text-decoration: none;
}

  